* {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;

}
body {
	flex-direction:column;
	background-color: #6b6b6b;
	#background-color: #efeeed;
	font-family: "Comfortaa",sans-serif;
	letter-spacing:0.05em;}


/* ------------------------------- CLASS ------------------------ */

.div-item{
	#width: 500px;
	justify-content: center;

}
.div-item:nth-child(1) /* On prend le deuxième bloc élément */
{

	#background-color: blue;
	#align-self: flex-start; /* Seul ce bloc sera aligné à la fin */
}
.div-item:nth-child(2), .div-item:nth-child(1) /* On prend le deuxième bloc élément */
{
	#background-color:#3adb76;
	#align-self: flex-start;
}

.section{
	display:flex;
	width: 100%;
	text-justify-trim: center;
    margin-left:0;
}
.content{
	justify-content: center;
}

/* -------------------------- ID -------------------------------- */
#admin a
{
	position:absolute;
	top:0;
	right:0;
	display: block;
	width: 10px;
	height: 10px;
}

#active {
	background-color: rgb(200,149,57);
	color:white;}

a:link {color: inherit;}
a:visited {color: inherit; text-decoration:none;}
a:hover {transition-duration:0.4s;}


@media only screen and (max-width: 400px){
    body{
        font-size: 18px;}  }
@media only screen and (max-width: 1250px){
	body{
		font-size: 18px;}}