body{
  overflow-y: scroll;
}
$logo-width : 150px;

.menu {
  margin-right: $logo-width;
}
.menu li {
  font-family: Comfortaa, Arial, sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  letter-spacing: 1px;
  transition-duration:0s;
  &:hover{
    transition-duration:0s;
    font-weight:bold ;
    letter-spacing: 1px;
  }
  &:first-child{
    border: none;}

  button{
    padding: 5px;
    color: #ebeff3;
    &:hover{
      transition-duration:0s;
      font-weight:bold ;
      letter-spacing: 1px;
    }
  }
}

#logo img{
  width : $logo-width;}
#logoAccueil img {
  display: none;}
#active {
  font-weight:bold ;
  letter-spacing: 1.5px;
}
.tabs-content{
  min-height: 80vh;
}
@media only screen and (max-width: 400px) {
  .menu li {
    font-size: 12px; }
}

@media only screen and (max-width: 540px) {
  #logo img {
    display: none;}
  .menu .Contact {
    display: none;
  }

  #logoAccueil img {
    display: block;
    height: 20px;}
  .menu{
    margin-right: 0;
  }
}
@media only screen and (min-width: 358px) {
  .menu li{
    border-left: 0.1px solid #c3c3c3;}
}
@media only screen and (max-width: 744px) {
  #logo img{
    height:100px;
  }
  .menu li {
    font-size: 14px; }
}

.tabs-title > a:hover {
  color: white;
}
.underline{
  text-decoration: underline;
}

main {
  background: linear-gradient(to bottom, $catColor, rgba(0,0,255,0));
  font-color: #827F7E;
}

.supprimer a{
  color: orangered;
  &:hover{
    letter-spacing: 1px;
    font-weight: bold;
  }
}

footer{
  height: 20px;
}

button{
  cursor: pointer;
}